<div class="bg-image">
  <div class="row">
    <div class="col-md-6 leftcol">
      <app-onboarding-text [title]="title"></app-onboarding-text>
    </div>
    <div class="col-md-6 signRight">
      <div class="get_form_inner">
        <form name="form" (ngSubmit)="f.form.valid && forgetPass()" #f="ngForm"  novalidate>
          <!-- <div class="group" [ngClass]="{ 'has-error': f.submitted && !emailId.valid }">
            <label [class.activeLabel]="focusedElement=='emailId'" [class.lableTop]="(model.emailId!=='') && (emailId.touched==true || emailId.valid==true|| emailId.valid==false)"
              [class.inputSuccess]="emailId.valid==true" [class.inputError1]="emailId.valid==false && emailId.touched==true" [class.inputError]="focusedElement!=='emailId' && emailId.valid==false && emailId.touched==true"
              for="emailId">emailId ID</label>
            <input type="emailId" (focusout)="focusFunction('')" (focus)="focusFunction('emailId')" class="form-control" name="emailId" [(ngModel)]="model.emailId"
              #emailId="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required />
            <div *ngIf="!emailId.valid && emailId.touched==true" class="help-block">emailId ID is required</div>
          </div> -->
          <mat-form-field class="text-full-width">
            <input matInput placeholder="Email ID" required  name="EmailID" [(ngModel)]="model.emailId" #emailId="ngModel" autocomplete="off" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            <mat-error *ngIf="emailId.touched==true && emailId.valid==false">
              <div *ngIf="model.emailId==''">Email Id is <strong>required</strong></div>
              <div *ngIf="model.emailId!='' && emailId.valid==false">Email Id should be in <strong>right format</strong></div>
            </mat-error>
            <!-- <mat-error *ngIf="!emailId.pattern && emailId.touched==true">
                Email Id is <strong>formate</strong>
            </mat-error> -->
          </mat-form-field>
          <div class="form-group khulaRegular">
          </div>
          <div class="form-group">
            <div class="btn-wrapper">
              <button type="submit" [disabled]="!f.form.valid" class="btn sub-btn-info">
                Submit</button>
              <button type="button" class="btn-white khulaSemiBold">Signin</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>