.user-details-wrapper{
    /* height: 150px; */
    /* width: 100%; */
    background-image: linear-gradient(107deg, #00416a, #de792f);
    background:url('../../../../assets/images/userbg/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wallets-details-wrapper{
    background: #ffffff;
}
.dropdown-menu{
  min-width: 8rem;
  padding: 0px;
  border: none;
  margin-top: 0px;
}
.dropdown-menu li.font12.khulaRegular{
  padding: 5px;
  padding-top: 7px;
  padding-left: 10px;
  cursor: pointer;
}
li.font12.khulaRegular {
  background: #ffffff;
}
li.font12.khulaRegular:hover {
  background: #f2f2f2;
}
.wallets-wrapper{
    background: #f1f5f9;
    padding-top:90px;
    padding-bottom:32px;
    padding-left:31px;
    padding-right:43px;
    min-height: 100vh;
}
.user-picture {
    height: 86px;
    width: 86px;
    margin-top: 19px;
    margin-left: 9px;
    float: left;

}
.user-picture img.img-circle {
    border-radius: 50%;
    width: 86px;
    height: 86px;

}
.user-details{
    float: left;
    color: white;
    margin-top: 35px;
    margin-left: 21px;
}
.user-name{
    font-size: 24px;
}
.user-status{
    font-size: 14px;
}
.wallets-details-box {
    margin-top: 40px;
    margin-left: 10px;
}
ul.currency-list {
    width: 100%;
    display: block;
    padding-left: 0px;
    margin-left: 10px;
}
ul.currency-list li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #e5e5e5;
    padding: 10px 0px;
    width: 32%;
    text-align: center;
}
ul.currency-list li:last-child {
    border: none;
}
li.khulaSemiBold span {
    display: block;
}
.create-wallets-btn{
    background: #ffffff;
    height: 260px;
    cursor: pointer;
}
.create-wallets-btn:hover {
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
}
#createWallets{
    cursor: pointer;
}
.personal-wallets-wrapper{
    margin-left: -15px;
    margin-right: -15px;
    /* margin-top: -20px; */
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:100%; */
    margin-top: 15px;
    flex-direction: column;
}
.center-add{
    margin-top: 0px;
}
.personal-wallets-wrapper .row .col-md-3{
    margin-top: 40px;
    /* min-width: 261px; */
}
.join-btn{
    padding: 2px 15px;
    margin-top: 10px;

pointer-events: visible !important;

}
.cancel-btn{
    padding: 2px 15px;
    margin-top: 10px;
    /* margin-left: 79px; */
    margin-bottom: 24px;
    font-size: 14px;
    font-family: "Khula-SemiBold";
    border: none;
    color: #d42e42;
    background-color: transparent;
    height: 30px;
}
.status-btn{
    padding: 2px;
    width: 91px;
    height: 25px;
    font-size: 14px;
    font-family: Khula-SemiBold;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 12px;
    /* background-color: #39b7c5; */
    color: #ffffff;
    border-radius: 15px;
    background: transparent;
}
.statusInvited{
    color:#39b7c5;
    border:1px solid #39b7c5;
}
.statusCompleted{
    color:#457199;
    border:1px solid #457199;
}
.statusIncompleted{
    color:#e16c7a;
    border:1px solid #e16c7a;
}
.wallet-title-box{
    font-size: 16px;
    color: #4a4a4a;
    text-transform:capitalize;
}
.wallet-id-box{
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 6px;
    margin-bottom: 0px;
}
.wallet-member-box{
    font-size: 12px;
    color: #a1a1a1;
    margin-bottom: 8px;
}
.wallet-table{
    border-top: solid 1px #f1f1f1;
    width: 100%;
    height: 65px;
    display: flex;
}
.wallet-col{
    width: 49%;
    height: 93%;
    display: inline-block;
    border-right: 1px solid #f1f1f1;
    flex-grow: 1;
    text-align: center;
}
.wallet-col p {
    margin: 12px 0px;
}
.wallet-col p.khulaSemiBold{
    color:#4a4a4a;
    font-size: 14px;
    margin-bottom: 2px;
}
.wallet-col p.khulaRegular{
    color:#687178;
    font-size: 10px;
    margin-top: 2px;
    color: #4a4a4a;
}
.dropdown-wraper{
    text-align: right;
    margin-right: -15px;
}
.dropdown-wraper >.btn-group{
  width:129px;
  margin-left: auto;
  border-radius: 2px;
  /* background-color:#e5e5e5; */
}
button#button-basic {

  }
button#button-basic:active {
  background: #e5e5e5!important;
}
button#button-basic:hover {
  background: #e5e5e5!important;
}
button#button-basic:focus {
  background: #e5e5e5!important;
}
button#button-basic img {
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.row.all-wallets {
    margin-top: 20px;
    font-size: 24px;
    margin-left: -15px;
}
.select-coin{
    border:none;
    background: transparent;
    color:#4a4a4a;
    /* background: #e5e5e5; */
    font-size: 14px;
    width: 100%;
    padding: 3px;
    padding-top: 6px
}
primary.dropdown-toggle:focus {
    box-shadow:none;
}
primary.dropdown-toggle {
    background-color: transparent;
    color: #4a4a4a;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #4a4a4a;
    background-color: transparent;
    border-color: transparent;
}
primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
/* .personal-wallets-wrapper .row .col-md-3:nth-child(4n+1){
    padding-left: 0px;
}
.personal-wallets-wrapper .row .col-md-3:nth-child(4n+4){
    padding-right: 0px;
} */
.marBtm {
    margin-bottom: 20px;
}
.imgcls{
    cursor: pointer;
}
.coin-image{

  margin-right: 4px;
}
.walletList>a{
    text-decoration: none;
}
.right-align{
    float: right;
    margin-top: 94px;
    color: #eff5fc;
    /* font-size: 12px; */
}
@media screen and (max-width: 1024px) {
    .user-picture[_ngcontent-c4] {
        margin-top: 20px;
    }
    .user-details[_ngcontent-c4] {
        margin-top: 30px;
    }
    .right-align{
        margin-top: 0px;
    }
}
.walletDisabled{
  pointer-events: none;
}
.margin-bottom{
    margin-bottom: 30px;
    min-height: 260px;
}

@media (max-width: 1024px){
.personal-wallets-wrapper .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%!important;
}
}
