.text-full-width{
    width:100%;
}
.get_form_inner {
    background: #ffffff;
    padding: 78px 55px 72px;
    width: 498px;
    border-radius: 3px;
    border-top: 4px solid #3954e5;
  }
  .get_form_inner .group {
    margin-bottom: 27px;
  }
  input:-webkit-autofill {
      -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
      -webkit-text-fill-color: #999;
  }
  input:-webkit-autofill:focus {
      -webkit-box-shadow:0 0 0 50px white inset;
      -webkit-text-fill-color: #999;
  }
  .col-md-6.side-box-content {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .khulaRegular{
      position: relative;
      top: 43px;
  }
  .logbtn{
      position: relative;
      top: 30px;
  }
  .btn-white {
    background: #fff;
    cursor: pointer;
    margin-left: 30px;
    padding: 1px 33px;
}
  .cuserr{
    color: #f44336;
    position: absolute;
    top: 40px;
    font-size: 12px;
    font-weight: 500;
  }
  