<div class="bg-image">
  <div class="row">
    <div class="col-md-6 leftcol">
      <app-onboarding-text [title]="title"></app-onboarding-text>
    </div>
    <div class="col-md-6 signRight">
      <div class="get_form_inner">
        <form name="form" (ngSubmit)="f.form.valid && resetPass()" #f="ngForm" novalidate>
          <!-- <div class="group" [ngClass]="{ 'has-error': f.submitted && !emailId.valid }">
            <label [class.activeLabel]="focusedElement=='emailId'" [class.lableTop]="(model.emailId!=='') && (emailId.touched==true || emailId.valid==true|| emailId.valid==false)"
              [class.inputSuccess]="emailId.valid==true" [class.inputError1]="emailId.valid==false && emailId.touched==true" [class.inputError]="focusedElement!=='emailId' && emailId.valid==false && emailId.touched==true"
              for="emailId">emailId ID</label>
            <input type="emailId" (focusout)="focusFunction('')" (focus)="focusFunction('emailId')" class="form-control" name="emailId" [(ngModel)]="model.emailId"
              #emailId="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required readonly />
            <div *ngIf="!emailId.valid && emailId.touched==true" class="help-block">emailId ID is required</div>
          </div> -->
          <!-- <mat-form-field class="text-full-width">
              <input matInput placeholder="Email ID" required  name="EmailID" [(ngModel)]="model.emailId" #emailId="ngModel" autocomplete="off" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
              <mat-error *ngIf="emailId.touched==true && emailId.valid==false">
                <div *ngIf="model.emailId==''">Email Id is <strong>required</strong></div>
                <div *ngIf="model.emailId!='' && emailId.valid==false">Email Id should be in <strong>right format</strong></div>
              </mat-error>
          </mat-form-field> -->


          <mat-form-field class="text-full-width">
              <input matInput placeholder="Password" required type="password" name="password" [(ngModel)]="model.password" #password="ngModel" autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-zd$@$!%*?&].{8,}">
              <mat-error *ngIf="password.touched==true && password.valid==false">
                <div *ngIf="model.password==''">Password  is <strong>required</strong></div>
                <div *ngIf="model.password!='' && password.valid==false">Password should contain <strong>8 characters with 1 uppercase, 1 special and 1 number.</strong></div>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="text-full-width" [ngClass]="{ 'has-error': f.submitted && !repassword.valid }">
              <input matInput placeholder="Confirm Password" required type="password" name="repassword" [(ngModel)]="model.repassword" #repassword="ngModel" autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-zd$@$!%*?&].{8,}" (ngModelChange)='onOptionsSelected($event)'>
              <mat-error *ngIf="repassword.touched==true">
                <div *ngIf="model.repassword==''&& repassword.valid==false">Confirm Password  is <strong>required</strong></div>
              </mat-error>
              <div [class.cuserr]="(showPasswordCaution && model.repassword !=='' && repassword.touched==true)||(showPasswordCaution && repassword.valid==true &&repassword.touched==true)" *ngIf="(showPasswordCaution && model.repassword !=='' && repassword.touched==true)||(showPasswordCaution && repassword.valid==true &&repassword.touched==true)">Confirm password does not<strong>match</strong></div>
          </mat-form-field>






          <!-- <div class="group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input class="form-control" type="password" (focusout)="focusFunction('')" (focus)="focusFunction('password')" [(ngModel)]="model.password"
             #password="ngModel" name="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-zd$@$!%*?&].{8,}"
             required>
            <label [class.activeLabel]="focusedElement=='password'" [class.lableTop]="(model.password!=='') && (password.touched==true || password.valid==true|| password.valid==false)"
             [class.inputSuccess]="password.valid==true" [class.inputError1]="password.valid==false && password.touched==true"
             [class.inputError]="focusedElement!=='password' && password.valid==false && password.touched==true">Password &nbsp;
              <span class="mandatory">*</span>
            </label>
            <div *ngIf="f.submitted && model.password == ''" class="help-block caution">Password is required</div>
            <div *ngIf="!f.submitted && model.password == '' && password.touched==true" class="help-block caution margin-block">Password is required</div>
            <div class=" help-block caution margin-block" *ngIf="password.errors?.pattern">
              Password should contain 8 characters with 1 uppercase, 1 special and 1 number.
            </div>
          </div> -->


          <!-- <div class="group" [ngClass]="{ 'has-error': f.submitted && !repassword.valid }">
            <input class="form-control" type="password" (focusout)="focusFunction('')" (focus)="focusFunction('repassword')" name="repassword"
             required [(ngModel)]="model.repassword" #repassword="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-zd$@$!%*?&].{8,}"
             (ngModelChange)='onOptionsSelected($event)' />
            <label [class.activeLabel]="focusedElement=='repassword'" [class.lableTop]="(model.repassword!=='') && (repassword.touched==true || repassword.valid==true|| repassword.valid==false)"
             [class.inputSuccess]="repassword.valid==true" [class.inputError1]="repassword.valid==false && repassword.touched==true"
             [class.inputError]="focusedElement!=='repassword' && repassword.valid==false && repassword.touched==true">Confirm Password &nbsp;
              <span class="mandatory">*</span>
            </label>
            <div *ngIf="!f.submitted && model.repassword =='' && repassword.touched==true " class="help-block caution margin-block">Confirm password is required</div>
            <div class=" help-block caution margin-block" *ngIf="showPasswordCaution && model.repassword !==''">
              Confirm password does not match
            </div>
          </div> -->
          <div class="form-group logbtn">
            <div >
              <button type="submit" [disabled]="!f.form.valid" class="btn sub-btn-info">
                Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>