<!-- <div class="loading-pane">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 14px;">
      <span class="align-center">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
         <img src="/assets/img/enigma-workbench/loading.gif" style="width: 200px; height: 200px;"/>
      </span>
    </div>
    <br>
    <div class="col-md-12">
      <span class="align-center" style="font-weight: bold;">Please wait</span>
    </div>
  </div>
</div> -->

<div class="loading">
  <img id="loading-image" src="./assets/images/personalwallet/loaderr2.gif"/>
</div>
