<ng-template #infoMessage>
  <div class="modal-header Popup infoPopup">
      <div class="toasterImg toasterImg2">
        <img src="./assets/images/information.png">
      </div>
      <div>
      <h4 class="modal-title pull-left">{{message}}</h4>
    </div>
    <div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <img src="./assets/images/close.png">
      </button>
    </div>
    </div>
  <!-- <div class="modal-footer footermessage">
      <button class="btn btn-default" type="button" (click)="modalRef.hide()">OK</button>
  </div> -->


</ng-template>
<button type="button" id="modalButton2" class="btn btn-primary" (click)="openModal(infoMessage)"></button>
