<div class="wallets-wrapper">
  <form name="form" (ngSubmit)="f.form.valid && createWallet(addUserForm)" #f="ngForm"  class="notmaterial" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="wallets-heading khulaLite"> Create Wallets</div>
      </div>
    </div>
    <div class="wallet-info-wrapper">
      <div class=" col-md-12 khulaRegular">
        Wallet Information
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="user-name khulaRegular fus-name">
            <!-- <div class="fus-name"> -->
              <div class="group" [ngClass]="{ 'has-error': f.submitted && !walletName.valid}">
                <input class="form-control" type="text" (focusout)="focusFunction('')" (focus)="focusFunction('walletName')" name="walletName"
                  [(ngModel)]="wDetails.walletName" #walletName="ngModel" required />
                <label [class.activeLabel]="focusedElement=='walletName'" [class.lableTop]="(wDetails.walletName!=='') && (walletName.touched==true || walletName.valid==true|| walletName.valid==false)"
                  [class.inputSuccess]="walletName.valid==true" [class.inputError1]="walletName.valid==false && walletName.touched==true"
                  [class.inputError]="focusedElement!=='walletName' && walletName.valid==false && walletName.touched==true"
                  for="walletName">Wallet Name &nbsp;
                  <span class="mandatory">*</span>
                </label>

                <div *ngIf="!walletName.valid && walletName.touched === true" class="help-block caution">wallet name required</div>
                <!-- <div *ngIf="!f.submitted && !walletName.valid && walletName.touched === true" class="help-block caution">wallet name required</div> -->
              </div>
              <div class="group" [ngClass]="{ 'has-error': f.submitted && !ownerName.valid}">
                <input class="form-control" type="text" name="ownerName" (focusout)="focusFunction('')" (focus)="focusFunction('ownerName')"
                  [(ngModel)]="wDetails.ownerName" #ownerName="ngModel" required/>
                <label [class.activeLabel]="focusedElement=='ownerName'" [class.lableTop]="(wDetails.ownerName !== '') && (ownerName.touched === true || ownerName.valid==true|| ownerName.valid === false)"
                  [class.inputSuccess]="ownerName.valid === true" [class.inputError1]="ownerName.valid === false && ownerName.touched === true"
                  [class.inputError]="focusedElement!=='ownerName' && ownerName.valid === false && ownerName.touched === true"
                  for="ownerName">Your Name &nbsp;
                  <span class="mandatory">*</span>
                </label>
                <div *ngIf="!ownerName.valid && ownerName.touched === true" class="help-block caution">owner name required</div>
                <!-- <div *ngIf="!f.submitted && !ownerName.valid && ownerName.touched === true" class="help-block caution">owner name required</div> -->
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="user-name khulaRegular fus-name">
            <!-- <div class="fus-name"> -->
            <div class="group" [ngClass]="{ 'has-error': f.submitted && !noOfUsers.valid}">
              <input class="form-control" type="number" name="noOfUsers" (focusout)="focusFunction('')" (focus)="focusFunction('noOfUsers')"
                [(ngModel)]="wDetails.noOfUsers" #noOfUsers="ngModel" (ngModelChange)="onuserChange($event)" required />
              <label [class.activeLabel]="focusedElement=='noOfUsers'" [class.lableTop]="(wDetails.noOfUsers !== '') && (noOfUsers.touched === true || noOfUsers.valid==true|| noOfUsers.valid === false)"
                [class.inputSuccess]="noOfUsers.valid === true" [class.inputError1]="noOfUsers.valid === false && noOfUsers.touched === true"
                [class.inputError]="focusedElement!=='noOfUsers' && noOfUsers.valid === false && noOfUsers.touched === true"
                for="noOfUsers">Number of user/s &nbsp;
                <span class="mandatory">*</span>
              </label>
              <!-- <div *ngIf="noOfUsersAvail">Enter users more than 0</div> -->
              <div *ngIf="wDetails.noOfUsers === '' && noOfUsers.touched === true" class="help-block caution">number of users required</div>
              <!-- <div *ngIf="!f.submitted && !noOfUsers.valid && noOfUsers.touched === true" class="help-block caution">number of users required</div> -->

              </div>
              <div class="group" [ngClass]="{ 'has-error': f.submitted && !noOfSignatures.valid}">
                <input class="form-control" type="number" name="noOfSignatures" (focusout)="focusFunction('')" (focus)="focusFunction('noOfSignatures')"
                  [(ngModel)]="wDetails.noOfSignatures" #noOfSignatures="ngModel" (ngModelChange)="onsignatureChange($event)"
                  required />
                <label [class.activeLabel]="focusedElement=='noOfSignatures'" [class.lableTop]="(wDetails.noOfSignatures !== '') && (noOfSignatures.touched === true || noOfSignatures.valid==true|| noOfSignatures.valid === false)"
                  [class.inputSuccess]="noOfSignatures.valid === true" [class.inputError1]="noOfSignatures.valid === false && noOfSignatures.touched === true"
                  [class.inputError]="focusedElement!=='noOfSignatures' && noOfSignatures.valid === false && noOfSignatures.touched === true"
                  for="noOfSignatures">Required no of signature/s &nbsp;
                  <span class="mandatory">*</span>
                </label>
                <!-- <div *ngIf="noOfUsersAvail && !wDetails.noOfSignatures)||!noOfSignatures.valid && noOfSignatures.touched === true" class="help-block caution">signatures required</div> -->
                <!-- <div *ngIf="!f.submitted && !noOfSignatures.valid && noOfSignatures.touched === true" class="help-block caution">signatures required</div> -->
                <div *ngIf="erroinsignsture" class="help-block caution">signatures can not be more than number of user</div>
                <div *ngIf="(noOfUsersAvail && !wDetails.noOfSignatures)||!noOfSignatures.valid && noOfSignatures.touched === true"  class="help-block caution">signatures required</div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="user-name khulaRegular fus-name">
            <!-- <div class="fus-name"> -->
              <div class="group" [ngClass]="{ 'has-error': f.submitted && !coinType.valid}">
                <label [class.activeLabel]="focusedElement=='coinType'" [class.lableTop]="(coinValue.coinType!='') && (coinType.touched==true || coinType.valid==true|| coinType.valid==false)"
                  [class.inputSuccess]="coinType.valid==true" [class.inputError1]="coinType.valid==false && coinType.touched==true"
                  [class.inputError]="focusedElement!=='coinType' && coinType.valid==false && coinType.touched==true" for="coinType">Coin
                  <span class="mandatory">*</span>
                </label>
                <select class="form-control" name="coinType" (focusout)="focusFunction('')" (focus)="focusFunction('coinType')" [(ngModel)]="coinValue.coinType"
                  (change)="coinSelected(coinValue.coinType);" #coinType="ngModel" required>
                  <option [value]="undefined" [attr.selected]="true" disabled>Select Coin</option>
                  <option *ngFor="let item of coinlist;let i= index">{{item}}</option>

                </select>
                <div *ngIf="!coinType.valid && coinType.touched==true" class="help-block caution errclass">Coin is required</div>

              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="wallet-user-wrapper wallet-user-wrapper-padd">
      <div class=" col-md-12 khulaRegular">
        Add User
      </div>
      <div class="row">
        <div class="col-md-12">
          <form name="addUserForm" #addUserForm="ngForm"  class="notmaterial" novalidate>
            <div class="user-name khulaRegular">


              <div class="fus-name_dalate" *ngFor="let user of userList;let userindex = index">
                <div class="group">
                  <input type="text" name="userId" [value]="user.username" required readonly />
                  <label class="inputSuccess">User Name</label>
                </div>
                <div class="group" dropdown>
                  <!-- dropdown -->
                  <input type="text" name="roleId" [value]="user.roleName" dropdownToggle readonly/>
                  <!-- dropdownToggle  -->
                  <label class="inputSuccess">Role</label>


                  <ul id="dropdown-role" [hidden]="userindex == 0" name="userrole" *dropdownMenu class="dropdown-menu  form-control" role="menu"
                    aria-labelledby="dropdown-role">

                    <li #id role="menuitem" [ngClass]="{'active': selectedItem == item.name}" *ngFor="let item of roleList;let i= index" (click)="userroleSelected(item,userindex)">{{item.name}}</li>

                  </ul>
                  <i [hidden]="userindex == 0" class="fa fa-caret-down arrowclass"></i>


                </div>
                <span [hidden]="userindex == 0" class="deleteimg-outer">
                  <img class="deleteimg" src="./assets/images/personalwallet/smalldelete.png" alt="delete" (click)="deleterow(userindex)">
                </span>
              </div>
              <div class="fus-name_dalate" *ngIf="initialfslde">
                <div class="group" dropdown [ngClass]="{ 'has-error': !username.valid}">


                    <!-- <ng-select [(ngModel)]="model.username" placeholder="User Name" (ngModelChange)="userSelected($event)" [closeOnSelect]="true"
                    [clearable]="true" [hideSelected]="false" name="serchValue" #username="ngModel"  required>
                    <ng-option *ngFor="let item of autosearchresult;let i= index" [value]="item">{{item.username}}</ng-option>
                   </ng-select> -->



                  <input type="text" name="username" [(ngModel)]="model.username" (focus)="focusFunction('username')" (ngModelChange)="onChange($event)"
                    dropdownToggle #username="ngModel" required autocomplete="off" />
                    <!-- inputkey [componentRef]="compRef" -->
                  <!-- <ul id="dropdown-basic" name="role" *dropdownMenu class="dropdown-menu form-control  " role="menu" aria-labelledby="button-basic">
                    <li #id role="menuitem" *ngFor="let item of autosearchresult;let i= index" (click)="userSelected(item)">{{item.username}}</li>
                  </ul> -->
                  <label [class.activeLabel]="focusedElement=='username'" [class.lableTop]="(model.username!=='') && (username.touched==true || username.valid==true|| username.valid==false)"
                    [class.inputSuccess]="username.valid==true" [class.inputError1]="username.valid==false && username.touched==true"
                    [class.inputError]="focusedElement!=='username' && username.valid==false && username.touched==true" for="username">User Name</label>
                  <!-- <div *ngIf="!username.valid" class="help-block caution">user name required</div> -->
                  <div *ngIf="!username.valid && username.touched === true" class="help-block caution">user name required</div>
                  <!-- <div *ngIf="errorUserInfo" class="caution">Added user list does not matches with no of user</div> -->
                  <!-- <div *ngIf="existinguser" class="caution" >User Already Exist</div> -->
                </div>

                <div class="group" [ngClass]="{ 'has-error': !role.valid}">
                  <label [class.activeLabel]="focusedElement=='role'" [class.lableTop]="(model.role!='' || model.role !== null) && (role.touched==true || role.valid==true || role.valid==false)"
                    [class.inputSuccess]="role.valid==true" [class.inputError1]="role.valid==false && role.touched==true" [class.inputError]="focusedElement!=='role' && role.valid==false && role.touched==true"
                    for="role">Role &nbsp;
                    <span class="mandatory">*</span>
                  </label>
                  <select class="form-control" name="application" (focusout)="focusFunction('')" (focus)="focusFunction('role')" [(ngModel)]="model.role"
                    (change)="roleSelected($event.target.value)" #role="ngModel" required>
                    <option *ngFor="let item of roleList;let i= index;" [value]="item.value">{{item.name}}</option>

                  </select>
                  <div *ngIf="!role.valid && role.touched==true" class="help-block caution errclass">Role is required</div>

                </div>
                <span class="deleteimg-outer">
                    <img class="deleteimg" src="./assets/images/personalwallet/smalldelete.png" alt="delete" (click)="deleteextrarow()">
                  </span>

              </div>
            </div>
            <div class="add-more-user" *ngIf="(userList.length < wDetails.noOfUsers) && adduserStatus" (click)="addUserForm.form.valid && addUser(addUserForm);">
              <img class="imgcls" src="./assets/images/add-user.svg" alt="add">
            </div>
            <div>
              <!-- <span class="caution errorclass" *ngIf="moreAdmins"> Admin role of the added user should  be equal to  no of signatures.</span> -->
              <span *ngIf="errorUserInfo" class="caution ">Number of users added does not match with count</span>
            </div>

          </form>

        </div>
      </div>
    </div>
    <div class="user-action-box">
      <input type="submit" class="sub-btn-info khulaSemiBold" [class.disabled]="!f.form.valid || invaliduser" value="CREATE WALLET">
      <input type="reset" class="khulaSemiBold" value="CANCEL" (click)="canclerequest()">

    </div>
  </form>

  <div class="row term-condtion khulaSemibold">
    <div class="col-md-6">Terms and conditions</div>
    <div class="col-md-6 help-box">Help</div>
  </div>
</div>
